<h1>New game</h1>
<% @letters.each do |letter| %>
  <%= "<h2>#{letter}</h2>".html_safe %>
<% end %>
<p>What is the longest word you can find?</p>
<form action="/score" method="" data-turbo="false">
  <input type="text" name="">
  <input type="submit" value="Play">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
