/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* .container {
  text-align: center;
} */

/* .sort-letters {
} */

h1 {
  padding-bottom: 30px;
}

h2 {
  display: inline;
  align-items: center;
  width:250px;
  padding-top:5px;
  border-style:solid;
  border-color:#336699;
  border-width:1px;
  padding:10px;
  padding-bottom:5px;
  background-color: #336699;
  color: white;
  border-radius: 15%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.11),
              0 2px 2px rgba(0,0,0,0.11),
              0 4px 4px rgba(0,0,0,0.11),
              0 6px 8px rgba(0,0,0,0.11),
              0 8px 16px rgba(0,0,0,0.11);
  margin: 5px;
}

p {
  padding-top: 33px;
}
